.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15vh;
    background-color: #343235;
    margin-bottom: 10vh;
}

.header h1 {
    color: white;
}
